<ul id="lists">
  <% sort_list(@lists).each_pair do |id, list| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= id %>">
        <h2><%= list[:name] %></h2> 
        <p><%= todos_completed_to_total_todos(list[:todos]) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>